.mat-dialog-container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: var(--primary-background) !important;
}

.top-container {
width: 100%;
padding: 10px;
}

.text-color {
color: var(--border-color);
}

.half-text-container {
    width: 200px
}

.text-container{
width: 400px;
}

.input-text-container {
width: 100%;
}

.text-input{
background-color: var(--primary-background);
color: var(--heading-color);
border: none;
border-radius: 10px;
padding: 5px;
outline: none;
}

