
<ng-container>
  <app-header
    [isScreenSmallInput]="isScreenSmall"
    [isMenuOpenInput]="isMenuOpen"
    [hasChoicePicked]="hasChoicePicked"
    (isSmallScreenOutput)="receiveIsSmallScreen($event)"
    (isMenuOpenOutput)="receiveIsMenuOpen($event)"
  ></app-header>
</ng-container>

<app-custom-menu
  [isScreenSmall]="isScreenSmall"
  [isMenuOpen]="isMenuOpen"
  (hasChoicePicked)="receiveChoicePicked($event)"
></app-custom-menu>


<div class="body mulish">
  <router-outlet></router-outlet>
</div>


