
<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="">
    <h1 class="heading-color text-center">COOK SYSTEMS</h1>
    <h2 class="heading-color text-center">A FINAL APP</h2>
  </div>
  <div class="login-border d-flex flex-column mt-5">
    <div class="circle-background center">
      <img src="assets/logo_big.png" alt="logo" class="logo">
    </div>
    <div class="center p-3 flex-column">
      <input class="login-input" type="text" placeholder="email" [(ngModel)]="email">
      <img src="assets/white_line.png" alt="user" class="icon">
    </div>
    <div class="center p-3 flex-column">
      <input class="login-input" type="password"  placeholder="password" [(ngModel)]="password">
      <img src="assets/white_line.png" alt="user" class="icon">
    </div>
    <div class="center p-3">
      <button class="login-button" (click)="signIn()">LOGIN</button>
  </div>
</div>
<div  [style]="{'display': 'flex'}">
  <button (click)="autofill('thisismycompany', 'getyourowncompany')">thisismycompany</button>
  <button (click)="autofill('cousingreg', 'mosteligiblebachelor')">cousingreg</button>
  <button (click)="autofill('kennysusername', 'kennyspassword')">kennysusername</button>
  <button (click)="autofill('willsusername', 'willspassword')">willsusername</button>
</div>

