<ng-container *ngIf="loggedIn$ | async">
  <header class="header">
    <nav class="navbar navbar-expand-md navbar-dark primary-background">
      <div class="navbar-brand circle-background" routerLink="">
        <img src="assets/logo.png" alt="logo" class="logo cursor-pointer">
      </div>

      <button class="secondary-background icon-button" *ngIf="isScreenSmallInput" (click)="toggleMenu()">
        <mat-icon class="fas fa-bars fa-icon"></mat-icon>
      </button>

      <ng-container *ngIf="!isScreenSmallInput">
      <ul class="navbar-nav" *ngIf="isAdmin$ | async">
        <li class="acting-as-admin p-2">ACTING AS ADMIN</li>
      </ul>
      <ul class="navbar-nav" *ngIf="!(isAdmin$ | async) && (loggedIn$ | async)">
        <li class="acting-as-admin p-2">{{(firstLast$ | async)}}</li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end" >
        <li class="heading-color p-2 onHover" routerLink="">Home</li>
        <li class="heading-color p-2 onHover" *ngIf="isAdmin$ | async" routerLink="/company">Company</li>
        <li class="heading-color p-2 onHover" routerLink="/teams">Teams</li>
        <li class="heading-color p-2 onHover" *ngIf="isAdmin$ | async" routerLink="/user-registry">Users</li>
        <li class="heading-color p-2 onHover" (click)="doLogout()" routerLink="/login">Logout</li>
      </ul>
      <ul class="navbar-nav navbar-collapse justify-content-end" *ngIf="!(loggedIn$ | async)">
        <li class="heading-color p-2 onHover" routerLink="/login">Log In</li>
      </ul>
      </ng-container>

    </nav>
  </header>

</ng-container>

